<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeleren.dao.IGroupDao">
    <select id="getGroupByLevel"  resultType="com.jeleren.bean.Group">
        select * from groups where level = #{level} and if_show = 1
    </select>
    <select id="getGroupByPId" resultType="com.jeleren.bean.Group">
        select * from groups where parent_id = #{parent_id} and if_show = 1
    </select>

    <select id="getGroupByName" parameterType="String" resultType="com.jeleren.bean.Group">
        select * from groups where name = #{name}
    </select>

    <!-- 通过 parent_id 获取 上级分类的id-->
    <select id="getGroupById" parameterType="int" resultType="int">
        select parent_id from groups where id = #{id}
    </select>

    <insert id="addIGRela" parameterType="int">
        insert into image_group (image_id, group_id) value (#{image_id}, #{group_id})
    </insert>

    <insert id="addIKR">
        insert into image_keyword (keyword, image_id) value(#{keyword}, #{image_id})
    </insert>
</mapper>