<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeleren.dao.IImageLikeDao">

    <insert id="imageLike">
        insert into user_image_like (image_id, user_id) values (#{image}, #{user})
    </insert>
    <delete id="cancelImageLike">
        delete from user_image_like where image_id = #{image} and user_id = #{user}
    </delete>
    <select id="checkImageLiked" resultType="com.jeleren.bean.ImageLike">
        select * from user_image_like where image_id = #{image} and user_id = #{user}
    </select>
</mapper>