<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeleren.dao.IImageInfoDao">
    <insert id="add" parameterType="com.jeleren.bean.ImageInfo">
      insert into images (image, name, cates, user_id, description, keywords, if_active) value (#{image}, #{name}, #{cates}, #{user_id}, #{description}, #{keywords}, #{if_active})
  </insert>
    <update id="editImageLikeNum">
        update images set
        <if test="record == 'delete'">
            like_num = like_num - 1
        </if>
        <if test="record == 'add'">
            like_num = like_num + 1
        </if>
        where id = #{image}
    </update>

</mapper>