<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeleren.dao.IUserInfoDao" >
    <select id="findAll" resultType="com.jeleren.bean.UserInfo">
        select * from userinfo
    </select>
    <select id="login" resultType="com.jeleren.bean.UserInfo">
        select * from userinfo where binary username = #{username} and password = #{password}
    </select>
    <insert id="register" parameterType="String">
        insert into userinfo (username, password, image, description, fan_num, upload_num, follow_num, download_num) values (#{username}, #{password}, #{image}, "", 0, 0, 0, 0)
    </insert>
    <select id="findUserByUsername" parameterType="String" resultType="com.jeleren.bean.UserInfo">
        select * from userinfo where binary username = #{username}
    </select>

    <insert id="addUser" parameterType="com.jeleren.bean.UserInfo">
        insert into userinfo (username, password) values (#{username}, #{password})
    </insert>

    <select id="selectUserById" parameterType="int" resultType="com.jeleren.bean.UserInfo">
        select * from userinfo where id = #{id}
    </select>
    <update id="updateUser" parameterType="com.jeleren.bean.UserInfo">
        update userinfo set username = #{username}, password = #{password} where id = #{id}
    </update>

    <update id="editUserFollow">
        update userinfo set
        <if test="record == 'delete'">
            follow_num = follow_num - 1
        </if>
        <if test="record == 'add'">
            follow_num = follow_num + 1
        </if>
        where id = #{user_id}
    </update>
    <update id="editUserFans">
        update userinfo set
        <if test="record == 'delete'">
            fan_num = fan_num - 1
        </if>
        <if test="record == 'add'">
            fan_num = fan_num + 1
        </if>
        where id = #{user_id}
    </update>

    <update id="updateUploadNum" parameterType="int">
        update userinfo set upload_num = upload_num + 1 where id = #{user_id}
    </update>

    <update id="updateUserInfo" >
        update userinfo
        <trim prefix="set" suffixOverrides=",">
            <if test="userinfo.username != null">username=#{userinfo.username},</if>
            <if test="userinfo.image != null">image=#{userinfo.image},</if>
            <if test="userinfo.description != null">description=#{userinfo.description},</if>
        </trim>
        where id = #{uid}
    </update>
</mapper>